body{
background-color: teal;
}

.source-card {
 background-color: rgb(0, 0, 0, 0.9);
 border: 1px solid red;
 color: white;
 border-radius: 10px;
}

a:hover {
color: red;
}

h1{
 color: white;
}

a{
 margin-right: 50px;
}
 