{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='articles.css') }}">
{% endblock %}

{% block content %}
  <h3>News Articles</h3>
 
    {% for news_article in articles %}
        
        <!--<div class="col-md-3 article-card">
            <img src="{{ news_article.image }}" alt="Article specific image" class="img-responsive">
            <p>{{ news_article.description|truncate(100)}}</p>
            <p>{{ news_article.time}} </p>
            <li class="text-center">
                <a href="{{ news_article.main_page_url}}" target="_blank">Read in source website</a>
            </li>
        </div>-->
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        
    {% endfor %}
 
 
{% endblock %}