{% extends 'base.html' %}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
    
{% block content %}
<h1 class="text-center">News Sources</h1>
{% for news_source in sources %}
 <div class="card col-md-3 source-card ">
    <div class="card-body">
        <h5 class="card-title text-center text-primary text-uppercase">{{ news_source.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ news_source.country}}</h6>
        <p class="card-text">{{ news_source.description|truncate(100)}}</p>
        <a href="/articles/{{news_source.id}}" class="card-link pr-5">View Articles</a>
        <a href="{{ news_source.url}}" class="card-link" target="_blank">Visit home page</a>
    </div>
  </div>
{% endfor %}
{% endblock %}